:root {
    --red: hsl(14, 86%, 42%);
    --green: hsl(159, 69%, 38%);

    --rose-50: hsl(20, 50%, 98%);
    --rose-100: hsl(13, 31%, 94%);
    --rose-300: hsl(14, 25%, 72%);
    --rose-400: hsl(7, 20%, 60%);
    --rose-500: hsl(12, 20%, 44%);
    --rose-900: hsl(14, 65%, 9%);

}

@font-face {
    font-family: 'Red Hat Display';
    src: url(./fonts/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf);
}

body {
    display: grid;
    place-items: center;
    background-color: var(--rose-100);
    margin: 0;
    container: body / inline-size;
    min-height: 100svh;
    width: 100svw;
    position: relative;
    font-family: 'Red Hat Display';
}

main {
    display: grid;
    width: 100cqw;
    box-sizing: border-box;
    padding: 50px;
    grid-template-columns: 70fr 30fr;
}

h1 {
    grid-column: 1;
    color: var(--rose-900);
    font-weight: 700;
}

div[class="attribution"] {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: black;
}
svg[id="svgs"]{
    display: none;
}
@container (inline-size < 1100px) {
    main {
        grid-template-columns: 1fr;
        padding: 10px;
    }
    h1{
        grid-column: unset;
    }
}